*.pro.user
*.o
*.so
*.exe
moc_*.cpp
moc_*.h
ui_*.h
build/
debug/
__pycache__/
.vscode/
.idea/
docs/html/
docs/latex/
debug_scripts/

# Secrets
*_config.h
secrets.h
*.pem
*.key
server/email_config.h
*.pyc
.env
